<div>All Products</div>
<% allProducts.forEach(product => { %>
    <div >
        <!-- <img src="<%#= album.images[0].url%>" alt="picture" /> -->
        <!-- <div style="background-image: url('<%#= album.images[0].url%>'); height: 400px; width: 350px; background-size: cover;"></div> -->

        <div>
            <h1><%-product.name%></h1>
          <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
          <button><a href="/auth/profile/">Add To some List</a></button>
        </div>
    </div>
<% }) %>