<div>
    <h1>Need</h1>
    <label>Bread</label>
    <input type="checkbox" name="vehicle1" value="Bike">
    <br>
    <label > Rice</label>
    <input type="checkbox" name="vehicle1" value="Bike">
    <br>
</div>
<div>
    <h1>Have</h1>
    <label > Water</label>
    <input type="checkbox" name="product" value="Bike">
    <br>
    <label> Chicken</label>
    <input type="checkbox"  name="product" value="Bike">
    <br>
</div>

<br>
<div>
    
    <label>Product: <input type="text" name="productname"></label><button>Add Product to List</button>
</div>


<br>
<div>All Products</div>
<% allProducts.forEach(product => { %>
    <div >
        <!-- <img src="<%#= album.images[0].url%>" alt="picture" /> -->
        <!-- <div style="background-image: url('<%#= album.images[0].url%>'); height: 400px; width: 350px; background-size: cover;"></div> -->

        <div>
            <h1><%-product.name%></h1>
          <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
          <button><a href="/auth/profile/">Add To some List</a></button>
        </div>
    </div>
<% }) %>