<div id="carouselExample" class="carousel slide" style="height: 90vh; width: 100vw;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="indexPosition">
            <h1>9 out 10 dentists recommend!!</h1>
            <a href="/auth/signUp"><button type="button" class="button">Sign up</button></a>
            <a href="/auth/login"><button type="button" class="button">Log in</button></a>
        </div>
        <img src="/images/bananas.jpg" class="d-block w-100" alt="..." style="height: 90vh; width: 100vw; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <div class="indexPosition">
            <h1>1 gegen 1 und ich reiss dich in stücke!!</h1>
            <a href="/auth"><button type="button" class="button">Sign up</button></a>
            <a href="/auth/login"><button type="button" class="button">Log in</button></a>
        </div>
        <img src="/images/grocery.jpg" class="d-block w-100" alt="..." style="height: 90vh; width: 100vw; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <div class="indexPosition">
            <h1>how much is the fish??</h1>
            <a href="/auth"><button type="button" class="button">Sign up</button></a>
            <a href="/auth/login"><button type="button" class="button">Log in</button></a>
        </div>
        <img src="/images/supermarket.jpg" class="d-block w-100" alt="..." style="height: 90vh; width: 100vw; object-fit: cover;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>