
        <div >
            <div class="signUpFlex signUpPosition">
                <div class="signUpText">Sign in to your account</div>
                <form class="signUpForm" action="/auth/login" method="POST">
                    <div class="formContainer">
                    <label><input class="signUpAInputs" placeholder="Name" type="text" name="name" required value="<% if (typeof err !== 'undefined') { %><%= body.name %><% } %>"></label>
                    <label ><input class="signUpAInputs" placeholder="Password" type="password" name="password" required></label>
                    </div>
                    <div class="signUpAButtonsDiv">
                    <button class="signUpAButtons" type="submit">Submit</button>
                    </div>
                    <% if (typeof err !== 'undefined') { %>
                    <p style="color: red"><%= err %></p>
                    <% } %>
                </form>
                
            </div>
        </div>
        <img src="/images/grocery.jpg" class="d-block w-100" alt="..." style="height: 90vh; width: 100vw; object-fit: cover;">
       

