<h1>Profile</h1>
<br>
<h1>All ShoppingLists</h1>
<br>
<% allShoppingLists.forEach(list => { %>
    <div >
        <!-- <img src="<%#= album.images[0].url%>" alt="picture" /> -->
        <!-- <div style="background-image: url('<%#= album.images[0].url%>'); height: 400px; width: 350px; background-size: cover;"></div> -->

        <div>
          <h3><%-list.name%></h1>
          <!-- <a href="<%#- artist.items[i].images[0].url%>">Pic</a> -->
          <form action="/auth/profile/list/<%- list._id%>">
            <button type="submit">View List</button>
          </form>
          <form action="/auth/profile/delete/<%- list._id%>" method="POST">
            <button type="submit" >Delete</button>
          </form>
        </div>
    </div>
    <% }) %>

<form action="/auth/profile/createNewList" method="POST">
  <label><input type="text" name="newList" placeholder="Listname"></label>
  <button type="submit" >Create new List</button>
</form>