<div class="purple" style="height: 100vh; width: 100vw;">signup
<form action="/auth" method="POST">
    <label><input type="text" name="name">Name</label>
    <br>
    <label><input type="password" name="password" >Password</label>
    <br>
    <label><input type="password" name="repeatPassword">Confirm Password</label>
    <br>
    <button type="submit">Submit</button>
</form>
</div>