
<!-- <div class="background">
    <div class="signUpFlex">
        <form class="signUpForm" action="/auth" method="POST">
            <label>Name<input class="signUpInputs" type="text" name="name"></label>
            <br>
            <label>Password<input class="signUpInputs" type="password" name="password" ></label>
            <br>
            <label>Confirm Password<input class="signUpInputs" type="password" name="repeatPassword"></label>
            <br>
            <button class="signUpButtons" type="submit">Submit</button>
        </form>
    </div>
</div> -->

<div id="carouselExample" class="carousel slide" style="height: 90vh; width: 100vw;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="background">
            <div class="signUpFlex signUpPosition">
                <form class="signUpForm" action="/auth/signUp" method="POST">
                    <label class="signUpLabels"><span class="signUpSpan">Name </span><input class="signUpInputs" type="text" name="name"></label>
                    <br>
                    <label class="signUpLabels"><span class="signUpSpan">Password </span><input class="signUpInputs" type="password" name="password" ></label>
                    <br>
                    <label class="signUpLabels"><span class="signUpSpan">Confirm Password </span><input class="signUpInputs" type="password" name="repeatPassword"></label>
                    <br>
                    <button class="signUpButtons" type="submit">Submit</button>
                    <% if (typeof err !== 'undefined') { %>
                        <p style="color: red; z-index: 10000;"><%= err %></p>
                        <% } %>
                </form>
            </div>
        </div>
        <img src="/images/bananas.jpg" class="d-block w-100" alt="..." style="height: 90vh; width: 100vw; object-fit: cover;">
      </div>
</div>
