/* .background {
  height: 100vh;
  width: 100vw;
  background-color: #dbf3ce;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.indexFlex {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.indexLinks {
  color: #40331a;
}  */