* {
    font-family: Arial;
}

body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
} 

li {
    padding: 15px 50px;
}

.notANavBar {
    margin: 0;
}

.navBarLinks {
    text-decoration: none;
    color: #292e30;
    font-size: 18px;
}

.carouselHeadlines{
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #292e30;
}