.signUpPosition {
    position: absolute;
    width: 800px;
    top: 40%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    z-index: 120;
    color: white;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.55);
  }
  
  /* .signUpFlex {
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: end;
  } */
  
  .signUpInputs {
      border: solid 1px #40331a;
      border-radius: 5px;
      color: #40331a;
      width: 200px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .signUpButtons {
      color: #4682b6;
      border: none;
      margin: 20px;
      padding: 15px 50px;
      border-radius: 5px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .signUpForm {
      display: flex;
      flex-direction: column;
  }
  
  
  /* label {
      color: #40331a;
  } */
  
  .signUpSpan {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .signUpLabels {
      display: flex;
      flex-direction: row;
      justify-content: center;
  } 