.signUpPosition {
  position: absolute;
  width: 650px;
  top: 40%;
  left: 54%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 35px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.55);
  box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.55);
}

.signUpForm {
    display: flex;
    flex-direction: column;
}



/* ab hier */

.formContainer{
    display: flex; flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpAInputs{
    /* padding: px 50px; */
    padding: 0px 15px;
    width: 350px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201)
}
    

.signUpAButtonsDiv{
    display: block;
    margin-top: 15px;
}
.signUpAButtons{
    font-size: 18px;
    text-align: center;
    width: 350px;
    height: 40px;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(84, 84, 235);
    color: white;
}
.signUpAButtons:hover {
    color: rgb(84, 84, 235);
    background-color: white;
    border: 1px solid rgb(84, 84, 235);
  }
.signUpText {
    color: rgb(155, 155, 155);
    font-size: 30px;
    padding-bottom: 20px;
}
